
  


.show_detail_link{
display: block;
    text-align: center;

}

.show_more{
    border: none;
    border-radius: 25px;
   color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    word-spacing: 3px;
    background-image: linear-gradient(to right, rgb(39, 103, 73), 
    rgb(83, 155, 122));
    cursor: pointer;
  

  


}
.show__more:hover{

    background-image: linear-gradient(to left, rgb(39, 103, 73), 
    rgb(52, 102, 79));
}

.show_more span{
    width: 300px;
    height: 40px;
    position: relative;
    transition: 0.5s;
}
.show_more span:after{
 
   content: '\00bb';

    opacity: 0;
    right: -30px;
    transition: 0.5s;
}

.show_more:hover span{
    padding-right: 25px;
    transition: 0.5s;

}

.show_more:hover span:after{
    opacity: 1;
    right: 0;

}
